<%- include('../partials/boilerplate') %>
<h1>Log in</h1>
<div class='form-container'>
    <form method='POST' action='/auth/login'>
        <label for="username">Username: </label>
        <input name='username' type='text' placeholder='Username' required />
        <br>
        <label for="password">Password: </label>
        <input name='password' type='text' placeholder='Password' required />
        <br>
        <input type="submit" value="Submit">
    </form>
</div>

<%- include('../partials/end') %>