<%- include('../partials/boilerplate') %>
<%- include('../partials/navForHomePage') %>

<div class='form-container'>
    <h1>Log in</h1>

    <form method='POST' action='/auth/login'>
        <input name='username' type='text' placeholder='Username' required />
        <br>
        <input name='password' type='password' placeholder='Password' required />
        <br>
        <input type="submit" value="Submit">
    </form>
    <p>Don't have an account? <a href="/users/new">Register</a></p>
</div>

<%- include('../partials/end') %>