<%- include('../partials/boilerplate') %>
<%- include('../partials/navForHomePage') %>

<div class='form-container'>
    <h1 class='form-title'>Register</h1>

    <form action="/users" method="POST">
        <input class="username" name='username' type='text' placeholder='Username' required />
        <br>
        <input class="password" name='password' type='password' placeholder='Password' required />
        <br>
        <input type="submit" value="Submit">
    </form>
    <p>Have an account? <a href="/auth/login">Login</a></p>

</div>
<%- include('../partials/end') %>