</main>
<footer class="footer">
    Made with ❤ in NYC &nbsp; | &nbsp;
    Created by <a href="https://github.com/nisozakuto/ThePhotobook">Niso</a> &nbsp;|&nbsp; Hosted at<a
        href="https://thephotobook.herokuapp.com/"> Heroku </a>
</footer>
</div>


<script src="/app.js"></script>
</body>

</html>