<header>

    <div class="logo"><a href="/">Photobook</a>
    </div>
    <nav>
        <ul>
            <li class="albums"><a href="/">Home</a></li>
            <li class="albums"><a href="/auth/login">Login</a></li>
            <li class="albums"><a href="/users/new">Signup</a></li>
            <li class="albums">User name</li>
            <!-- Show only when logged in, do it from the users cntroller -->

        </ul>
    </nav>
</header>
<!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your
                browser</a> to improve your experience.</p>
        <![endif]-->