<header>
    <div class="header-container">
        <div class="logo">The Photobook</div>
    </div>
    <nav class="menu">
        <ul>
            <li class="nav_links"><a href="/">Photo</a></li>
            <li class="nav_links"><a href="/">Home</a></li>
            <li class="nav_links"><a href="/albums">Albums</a></li>
            <li class="nav_links"><a href="auth/logout">Logout</a></li>
            <li class="nav_links">User name</li>
            <!-- Show only when logged in, do it from the users cntroller -->
        </ul>
    </nav>

</header>
<main>