<header>
    <div class="logo"><a href="/">Photobook</a>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/users/new">Signup</a></li>
        </ul>
    </nav>
</header>


<!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your
                browser</a> to improve your experience.</p>
        <![endif]-->