<header>
    <div class="header-container">
        <div class="logo">The Photobook</div>
    </div>
    <nav class="menu">
        <ul>
            <li class="nav_links"><a href="/">Home</a></li>
            <li class="nav_links"><a href="/users">Profile</a></li>
            <li class="nav_links"><a href="/albums">Albums</a></li>
            <li class="nav_links"><a href="auth/logout">Logout</a></li>
        </ul>
    </nav>

</header>
<main>