<header>
    <div class="header-container">
        <div class="logo"><a href="/">The Photobook</a></div>
    </div>
    <nav>
        <ul>
            <li class="nav_links"><a href="/">Home</a></li>
            <li class="nav_links"><a href="/auth/login">Login</a></li>
            <li class="nav_links"><a href="/users/new">Signup</a></li>
        </ul>
    </nav>
</header>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your
                    browser</a> to improve your experience.</p>
            <![endif]-->
<main>