<%- include('./partials/boilerplate') %>

<div class="wrapper-not-found">
    <h1>The Photobook could not find this page.</h1>
    <h2>Go back to homepage? </h2>
    <button class="homepage_button" onclick="window.location.href='/';">Homepage</button>
</div>

<%- include('./partials/end') %>