<%- include('./partials/boilerplate') %>
<%- include('./partials/navForHomePage') %>

<h1>Homepage</h1>
<h4>Change for Heroku continuous Integration done</h4>
<form method='POST' action='/'>
    <input type='submit' value='add!' />
</form>
<%- include('./partials/end') %>