<%- include('./partials/boilerplate') %>
<%- include('./partials/navForHomePage') %>


<h1>The Photobook</h1>
<br>
<br>
<h3>To get your photobook <a href="/users/new">register</a> </h3>
<br>
<br>
<h3>Already a member? <a href="/auth/login">Login</a></h3>

<%- include('./partials/end') %>