<%- include('./partials/boilerplate') %>
<%- include('./partials/nav') %>

<div class="wrapper">
    <% console.log("myPhoto:",photo) %>
    <% console.log("LargePhoto:", photo.large) %>
    <h1>Your new picture</h1>
    <img src="<%= photo.large %>">
</div>

<%- include('./partials/end') %>