<%- include('./partials/boilerplate') %>

<!-- <div class="wrapper"> -->
<div>
    <!-- <h2>pictures</h2> -->
    <% for (let picture of data.pictures) { %>
    <div class="imageBox">
        <img src="https://images.pexels.com/photos/1148820/pexels-photo-1148820.jpeg?auto=compress&cs=tinysrgb&h=350">
        <div class="row like-row">
            <img src="/notLiked.png" id="likedButton" width="36">
            <h5>Liked status</h5>
        </div>
        <div class="row">
            <div>
                <h4>See it in full res</h4>
            </div>
        </div>
        <div class="row">
            <h6>Delete</h6>
        </div>
        <p>Temp</p>
        <h2><%= picture.pic_desc %></h2>
        <% } %>
    </div>
</div>

<!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your
                browser</a> to improve your experience.</p>
        <![endif]-->
<%- include('./partials/end') %>