<%- include('./partials/boilerplate') %>
<%- include('./partials/nav') %>

<h1>Welcome back </h1>
<br>
<div class="userPage">
    <h2><a href="/albums/">Go to my albums</a></h2>
</div>



<%- include('./partials/end') %>