<%- include('../partials/boilerplate') %>
<%- include('../partials/nav') %>

<div class="wrapper">
    <div class="fullSizeImage">
        <img class="full-size-image" src="<%= photo.pic_url_full_size %>">
    </div>

    <div class="full-size-row">
        <div>
            Description here
            <!-- <h4>See it in full res</h4> -->
        </div>
    </div>
    <div class="full-size-row">

    </div>
</div>



<%- include('../partials/end') %>